<h3>Change Password for <%= @admin_user.email %></h3>

<%= form_with model: @admin_user, url: update_password_admin_admin_user_path(@admin_user), method: :patch, local: true do |f| %>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit "Update Password" %>
  </div>
<% end %>